@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #efeee9;
    font-family: Trade Gothic Next LT Pro, sans-serif;
}

.font-title {
    font-family: dazzle-unicase, sans-serif !important;
}
